on: 
  pull_request:
  push:
    branches:
      - master

name: Integration tests

jobs:
  test:
    strategy:
      matrix:
        os: ["ubuntu-24.04", "macos-14"] # TODO: add windows-2019?
        lua-version: ["lua51", "lua52", "lua53", "lua54", "luajit"]
      fail-fast: false
          
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Install neovim
        uses: rhysd/action-setup-vim@v1 # Used by the 'run' integration test
        with:
          neovim: true
          version: v0.10.3
      - name: Integration tests
        run: | 
          nix develop .#${{ matrix.lua-version }} --command cargo nextest run --test "*"
        shell: bash
